@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;800&display=swap");

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}

.app-name {
  font-family: "Tangerine", cursive;
  width: max-content;
  font-weight: 800;
  font-size: 1.8rem;
  color: #8b0000;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #4a0404;
  height: 100%;
}

.nav-link:hover {
  padding: 1rem 2rem;
  background-color: #c04000;
  color: #fff;
}

.nav-dropdown {
  border: 2px solid #4a0404;
  font-size: 1rem;
  font-weight: 500;
  color: #4a0404;
  padding: 0.5rem;
  border-radius: 4px;
}

.dropdown-options {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: none;
}

.dropdown-option {
  font-size: 1rem;
  font-weight: 500;
  color: #4a0404;

  margin-bottom: 10px;
}
